.modal-title{
    margin-bottom: 0;
    line-height: 1.5;
}

.card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid;
}

.md-form label {
    font-size: 1rem;
    font-weight: 5rem;
}