{% extends "base.html" %}

{% block content %}

<form action="/update/paciente/{{paciente.0}}" method="POST">
    <input type="number" name="codigoPaciente" value="paciente.0" placeholder="Código do Paciente">
    <input type="text" name="nome" value="paciente.1" placeholder="Nome Completo do Paciente">
    <input type="text" name="CPF" value="paciente.2" placeholder="CPF do Paciente">
    <input type="text" name="dataNascimento" value="paciente.3" placeholder="Data de Nascimento">
    <input type="number" name="idade" value="paciente.4" placeholder="Idade do Paciente">
    <input type="number" name="codigoColetaPaciente" value="paciente.5" placeholder="Código de Coleta do Paciente">

    <button type="submit">Atualizar</button>
</form>

{% endblock %}

